Package: com.kaneb.easyaccessaddon
Name: EasyAccess AddOn
Description: Double tap statusBar - EasyAccess activation
Version: 0.1.2
Priority: optional
Section: Addons (EasyAccess)
Architecture: iphoneos-arm
Depends: mobilesubstrate, com.kaneb.easyaccess
Maintainer: Kane Buckthorpe
Author: Kane Buckthorpe
